#product-select {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    box-shadow: -3px 0px 2px -2px rgba(0, 0, 0, .3);
    z-index: 2;
    position: relative;
}

.select-container {
    background-color: #edf1f1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: 50%;
    overflow-y: auto;
}

.product {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: 70%;
    border-right: 1px solid rgba(194, 189, 189, 0.4);
    border-bottom: 1px solid rgba(194, 189, 189, 0.4);
    position: relative;
}

.product:hover {
    outline: 1px solid rgba(194, 189, 189, 0.65);
}

.product-name{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 500;
}

.product-inv {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 15px;
    opacity: .8;
}

.product-inv span {
    position: absolute;
    top: 7px;
    right: 14px;
}

.inv-icon{
 margin-left: 4.5px;
}

.select-options {
    background-color: silver;
    display: flex;
}

.sort {
    background-color: #e7ebf1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort h5 {
    font-size: 1rem;
    transition: all 0.4s linear;
}

.sort select {
    padding-right: 65px;
    position: absolute;
    background: transparent;
    border: none;
    width: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: none;
}

.sort select:focus {
    outline: none;
}

#sort option {
   text-align: center;
   text-transform: capitalize;
}

.sort-icon {
    font-size: 15px;
}

.sort span{
    font-size: .9rem;
    margin-left: 4px;
}

.category {
background-color: #ecf1fc;
width: 50%;
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
}

.category h5 {
    font-size: 1rem;
    font-weight: bolder;
    transition: all 0.2s linear;
}

.new.active, .all.active {
    font-weight:normal;
    opacity: .7;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.category h5:hover {
    transform: scale(.95)
}
.sort h5:hover {
    transform: scale(.95)
}
/*======================= mobile screen */
@media screen and (max-width:760px) {
    #product-select {
        box-shadow: none;
    }
    .select-container {
        grid-auto-flow: column;
        grid-auto-rows: 50%;
        grid-auto-columns: 40%;
        overflow-x: auto;
    }
    .product {
        height: 200%;
        background-position: 60%;
        background-size: 60%;
    }
    .product-inv {
        top: 60%;
        font-size: 12px;
    }    
    .product-inv span {
        top: 6px;
        right: 12.5px;
    }
    
    .inv-icon{
        margin-top: 3px;
       }
}
@media screen and (max-width:560px) {
    .select-container {
        grid-auto-columns: 70%;
    }
}
