#product-sec {
    overflow-X: hidden;
    overflow-Y: scroll;
    position: relative;
    background-color: transparent;
    scroll-behavior: smooth;
}

.product-container {
    display: grid;
    grid-template-rows: auto 300px;
    grid-template-columns: 1fr;
    background-color: rgb(221, 80, 80);
    position: relative;
}

.main-img-area {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 75vh;
}

.main-img-container {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    top:47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: .4s linear all;
}

.main-img {
    position:static;
    width: 80%;
    max-width: 600px;
    transition: all 0.3s linear;
}

.price-tag {
    position: sticky;
    top: 0;
    left: 0;
    text-align: start;
    padding: 10px 0 0 15px;
    z-index: 2;
}

.product-name-title {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: end;
    padding: 10px 15px 0 0;
    z-index: 2;
}

.scroll-arrow {
    position: absolute;
    padding: 80px 15px;
    top: 0;
    right: 0;
    z-index: 2;
}

.up-arrow {
    position: absolute;
    padding: 80px 15px;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/* btn/info area*/
.product-desc {
    position: relative;
    background-color: transparent;
}

.description {
 position: absolute;
 bottom: 0;
 left: 15px;
 width: 80%;
 max-width: 260px;
 background-color: rgba(255, 255, 255, 0.1);
 border: 1px solid rgba(255, 255, 255, 0.4);
 color: black;
 padding: 8px;
}

.add-bag-btn {
    background-color: rgba(0, 0, 0, .5);
    color: aliceblue;
    border-color: black;
}

.size-btn {
    background-color: transparent;
    margin-right: 7px;
    margin-bottom: 7px;
}

#size {
    background-color: transparent;
    margin-right: 7px;
    height: 43px;
    width: 63px;
    text-align: center;
    font-size: 1em;
    border-color: black;
    transition: border-color 0.25s;
    border-radius: 3px;
}

#size option {
    font-size: .8rem;
}

#size:hover {
    border-color: #646cff;
  }


/* ================           mobile screen      ========= */
@media screen and (max-width:760px) {
    .product-container {
        grid-template-rows: auto 200px;
    }
    
    .main-img-area {
        height: 65vh;
    }
    
    .main-img-container {
        top:42%;
    }

    .product-name {
        margin-top: 15px;
    }
    
    /* btn/info area*/
    .product-desc {
        font-size: .85rem;
    }
    
    .description {
        left: 50%;
        transform: translate(-50%);
        font-size: 12px;
        margin-bottom: 30px;
    }

    #size {
        font-size: 1em;
        height: 36px;
    }
    
    #size option {
        font-size: .8rem;
    }
}