/* #sidebar {
    background-color: #d6d9e0;
} */

/* ==========================      cart side bar     ====================== */
#sidebar {
    background-color: #d6d9e0;
    display: grid;
    grid-template-rows: 170px 1fr 150px;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out all;
    width: 55px;
    max-width: 790px;
    z-index: 5;
    overflow: hidden;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .cart {
    width: 35vw;
    height: 150px;
    transform: translateX(500px);
    transition: 0.4s ease-in-out all;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 100px));
    border: 1px solid rgba(128, 128, 128, 0.2);
    /* overflow-x: auto; */
  }

  .cart-item {
    transition: all 1s linear;
    background-repeat: no-repeat;
    background-position: 60%;
    background-size: 70%;
    position: relative;
  }
  .cart-item:hover {
    border: 1px solid gray;
  }
  
  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem
  }
  
  .contact-side {
    transition: 0.4s ease-in-out all;
  }
  
  .cart-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
    transition: .2s ease-in-out all;
  }
  
  .checkout {
    transform: translateX(-150%);
    transition: .4s ease-in-out all;
  }
  
  .checkout a {
    font-size: 1.5rem;
  }

  .quantity {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
    opacity: .8;
  }

  #quantity {
    background-color: #ebeff8;
    border: none;
  }
  /*   ==== on hover =====   */
  
  #sidebar:hover {
    width: calc(92vw - 46vw);
  }
  
  #sidebar:hover .checkout {
    transform: translateX(0);
    /* margin-left: 100%; */
  }
  
  #sidebar:hover .cart{
    transform: translateX(0);
  }

  /* ================ cart hover/delete styles */
  .cart-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform .3s ease-in;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .cart-item:hover::after {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  
  .delete {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-size: 1.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
    color: white;
    z-index: 2;
  }
  
  .delete:hover {
    color: #9e8f39;
  }
  
  .cart-item:hover .delete {
    visibility: visible;
    opacity: 1;
  }
  /* ============= end */
  
  
  /* ================           mobile screen      ========= */
  @media screen and (max-width:760px) {
    #sidebar {
      grid-template-columns: 1fr;
      grid-template-rows: 30px 1fr 30px;
      align-items: center;
      justify-content: center;
      float: right;
      height: 40px;
      z-index: 5;
      position: sticky;
      overflow: hidden;
      width: 100%;
      bottom: 0;
      top:auto;
    }

    .contact-side {
        display: none;
      }

    .cart {
      opacity: 0;
      margin: auto;
      margin-top: 35%;
      
    }
  
    .checkout {
      align-self: self-start;
      padding-bottom: 10px;
      padding-top: 20px;
    }
  
    .cart-toggle {
      position: absolute;
      right: 50%;
      top: 20%;
      transform: translateX(50%);
      animation: toggleMenu2 .6s linear forwards;
    }

    .empty {
      font-size: 1rem;
    }
  
    /*   ==== nav on hover effects =====   */
    #sidebar:hover {
      width: 100%;
      height: calc(75vh - 32.5vh);
    }
    
    #sidebar:hover .cart{
      transform: translateY(-38%);
      opacity: 1;
    }
  
    #sidebar:hover .cart-toggle {
      animation: toggleMenu .3s linear forwards;
    }
  }
  
  @keyframes toggleMenu {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  @keyframes toggleMenu2 {
    from {opacity: 0;}
    to {opacity: 1;}
  }